<p>group_id {{ __SELF__.property('group_id') }}</p>
<p>mode {{ __SELF__.property('mode') }}</p>
<p>width {{ __SELF__.property('width') }}</p>
<p>color1 {{ __SELF__.property('color1') }}</p>
<p>color2 {{ __SELF__.property('color2') }}</p>
<p>color3 {{ __SELF__.property('color3') }}</p>

{% set group_id = __SELF__.property('group_id') %}

<hr>
{{ group_id }}
<hr>
<script src="//vk.com/js/api/openapi.js?137"></script>

<div class="" style="width: 500px; margin: 0 auto;">
<figure id="vk_groups" style="width:100%; border:1px solid #eee;"></figure>
</div>

<script type="text/javascript">
    VK.Widgets.Group(
        "vk_groups",
        {
            mode:   2,
            width:  'auto',
            color1: 'FFFFFF',
            color2: '000000',
            color3: '5E81A8',
            wide:   0
        },
        20003922);
</script>
